

.pokelist {
	width: 600px;
	margin: 0px auto;
	margin-top: 50px;
	padding-bottom: 50px;
}

.pokelist-title {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	color: rgb(148, 158, 168);
	margin-bottom: 30px;
	font-weight: 2rem;
	font-weight: 500;
	letter-spacing: 1.5px;
}

.pokelist-controls {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.pokelist-control {
	color: rgb(148, 158, 168);
	font-weight: 2rem;
	font-weight: 500;
	text-transform: uppercase;

	user-select: none;
	width: 32%;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 5px 15px rgba(148, 158, 168, 0.3);
	padding: 30px 0px;
}

.pokelist-control:hover {
	cursor: pointer;
}