
/* container */
.pokefilters {
	width: 600px;
	margin: 0px;
	margin-top: 50px;
	padding-bottom: 50px;
}

.pokefilters-title,
.pokefilter-card-title {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	color: rgb(148, 158, 168);
	margin-bottom: 30px;
	font-weight: 2rem;
	font-weight: 500;
	letter-spacing: 1.5px;
}

.pokefilter-card {
	padding: 40px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 5px 15px rgba(148, 158, 168, 0.3);
	position: relative;
	overflow: hidden;
}

.pokefilter-card ~ .pokefilter-card {
	margin-top: 30px;
}

.pokefilter-card-title {
	text-align: left;
	letter-spacing: 0px;
	margin-bottom: 0px;
}

/* container */
.pokefilter-card-types,
.pokefilter-card-generations {
	margin-top: 30px;
	user-select: none;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
}

.pokefilter-card-type,
.pokefilter-card-generation {
	margin-top: 10px;
	/* color to be replaced with type color */
	color: white; 
	padding: 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	/* border-color to be replaced with type color */
	border-color: rgba(255, 255, 255, 0);
	width: 16.6%;
	text-align: center;
	/* transition: all 0.3s ease; */
}

.pokefilter-card-type {
	text-transform: uppercase;
}

.pokefilter-card-generation {
	color: rgb(148, 158, 168);
	text-transform: capitalize;
	text-align: center;
	border-color: rgba(148, 158, 168, 1);
	border-width: 1px;
}

.pokefilter-card-type.active,
.pokefilter-card-generation.active {
	transform: scale(1.15);
}

.pokefilter-card-generation.active {
	background-color: rgb(148, 158, 168);
	color: white;
}

.pokefilter-card-type:hover,
.pokefilter-card-generation:hover {
	cursor: pointer;
}


.pokefilter-card-name {
	margin-top: 30px;
	outline: none;
	border: none;
	background: none;

	padding-bottom: 5px;
	border-bottom: 1px solid rgb(148, 158, 168);
	width: 100%;

	color: rgb(148, 158, 168);
	font-size: 200%;
	font-weight: 500;
	letter-spacing: 1.5px;
	text-transform: capitalize;
}

.pokefilter-card-clear {
	position: absolute;
	bottom: 40px;
	right: 40px;
	padding-top: 30px;
	padding-bottom: 6px;
	color: rgb(148, 158, 168);
	font-weight: 400;
	font-size: 200%;
	text-align: center;

	/* transition: all 0.5s ease-in-out; */
	opacity: 0;
	transform-origin: right bottom;
	transform: scale(1);
	pointer-events: none;
	cursor: default;
}

.pokefilter-card-clear.active {
	pointer-events: all;
	opacity: 1;
	transform: scale(1.2);
}

.pokefilter-card-clear:hover {
	cursor: pointer;
}